.circle-img {
  border-radius: 100%;
  margin-right: -2.5rem;
  width: 320px;
  height: 320px;
  background-color: black;

  @media screen and (max-width: 1050px) {
    width: 250px;
    height: 250px;
  }

  @media screen and (max-width: 450px) {
    width: 38vw;
    height: 38vw;
    margin-right: 0.2rem;
  }
}
