.colour-tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
  display: inline-flex;
  margin-top: 0.5rem;
  margin-right: 0.5rem;

  @media screen and (max-width: 450px) {
    min-width: 39%;
    padding: 0.8rem 1rem;
    flex-wrap: wrap;
    display: inline-flex;
  }
  @media screen and (max-width: 380px) {
    min-width: 36%;
  }
}
