.desp-text {
  width: 75%;
  margin: 0 auto;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 170%;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;

  @media screen and (min-width: 1800px) {
    width: 80%;
  }
  @media screen and (max-width: 1050px) {
    width: 90%;
    font-size: 1.3rem;
  }
  @media screen and (max-width: 770px) {
    width: 100%;
    font-size: 1.1rem;
  }
  @media screen and (max-width: 450px) {
    width: 100%;
    font-size: 1rem;
  }
}
