.header-text {
  font-size: 64px;
  font-weight: 700;
  line-height: 89.6px;
  font-style: normal;
  text-align: center;
  margin-bottom: 1rem;

  @media screen and (max-width: 1050px) {
    font-size: 4.5rem;
    line-height: 2.5rem;
  }
  @media screen and (max-width: 770px) {
    padding-top: 0rem;
    font-size: 3.8rem;
    line-height: 4rem;
  }
  @media screen and (max-width: 450px) {
    padding-top: 0rem;
    line-height: 2rem;
    font-size: 2rem;
  }
}
