.header-text {
  font-size: 55px;
  font-weight: 700;
  line-height: 89.6px;
  font-style: normal;
  text-align: center;

  @media screen and (max-width: 1050px) {
    font-size: 2.8rem;
    line-height: 2.5rem;
  }
  @media screen and (max-width: 770px) {
    padding-top: 0rem;
    font-size: 2.5rem;
    line-height: 4rem;
  }
  @media screen and (max-width: 450px) {
    line-height: 2rem;
    font-size: 2rem;
  }
  @media screen and (max-width: 380px) {
    font-size: 1.8rem;
  }
  @media screen and (max-width: 330px) {
    font-size: 1.7rem;
  }
}
