.top-div {
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  padding-top: 1rem;
  overflow-x: hidden;

  @media screen and (max-width: 450px) {
    padding-top: 1vw;
  }

  .logo-div {
    padding-top: 2vw;

    img {
      width: 406px;
      height: 196px;

      @media screen and (min-width: 2500px) {
      }

      @media screen and (max-width: 1050px) {
        width: 386px;
        height: 186px;
      }
      @media screen and (max-width: 770px) {
        width: 265px;
        height: 128px;
      }
      @media screen and (max-width: 450px) {
        width: 186px;
        height: 80px;
      }
      @media screen and (max-width: 380px) {
        width: 156px;
        height: 80px;
      }
    }
  }

  .connect-div {
    max-width: 24rem;
    position: relative;
    cursor: pointer;

    @media screen and (min-width: 2500px) {
    }

    @media screen and (max-width: 1050px) {
    }
    @media screen and (max-width: 770px) {
    }
    @media screen and (max-width: 450px) {
    }
    @media screen and (max-width: 380px) {
    }

    p {
      position: absolute;
      top: 1.7rem;
      font-size: 1.2rem;
      right: 3.6rem;
      color: white;
      font-weight: bold;

      @media screen and (max-width: 1050px) {
        top: 1.7rem;
        font-size: 1rem;
        right: 2.8rem;
      }
      @media screen and (max-width: 770px) {
        top: 1.1rem;
        font-size: 0.8rem;
        right: 2.4rem;
      }
      @media screen and (max-width: 450px) {
        top: 4vw;
        font-size: 2.3vw;
        right: 6.2vw;
      }
      @media screen and (max-width: 380px) {
        top: 5vw;
      }
      @media screen and (max-width: 330px) {
        top: 4.5vw;
        right: 6.4 vw;
      }
    }
    img {
      width: 260px;
      height: 9rem;

      @media screen and (max-width: 1050px) {
        width: 21vw;
        height: 8rem;
      }
      @media screen and (max-width: 770px) {
        width: 23vw;
        height: 6rem;
      }
      @media screen and (max-width: 450px) {
        width: 30vw;
        height: 5rem;
      }
      @media screen and (max-width: 330px) {
        width: 31vw;
        height: 4rem;
      }
    }

    .connect-img:hover {
      opacity: 0.8;
    }
    .connect-img:active {
      opacity: 0.6;
    }
  }
}

.bottom-div {
  display: flex;
  justify-content: space-between;
  color: white;
  max-width: 100%;
  position: relative;

  .hero-text {
    font-size: 48px;
    font-weight: bold;
    line-height: 140%;
    color: white;
    margin-top: 4rem;
    margin-left: 2rem;

    @media screen and (max-width: 1050px) {
      margin-top: 2rem;
      font-size: 36px;
    }

    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  .banner-btn-div {
    margin-left: 2rem;
    margin-top: 7rem;

    @media screen and (max-width: 1050px) {
      margin-top: 6rem;
    }

    @media screen and (max-width: 770px) {
      display: none;
    }
  }

  .hero-box {
    position: absolute;
    right: -4rem;
    top: -4rem;

    @media screen and (max-width: 1050px) {
      top: -8rem;
      right: 0rem;
    }
    @media screen and (max-width: 770px) {
      top: -5.5rem;
      right: 0rem;
    }
    @media screen and (max-width: 450px) {
      top: -2rem;
      right: -2rem;
    }

    img {
      height: 700px;
      @media screen and (max-width: 1050px) {
        height: 550px;
      }
      @media screen and (max-width: 770px) {
        height: 420px;
      }
      @media screen and (max-width: 450px) {
        height: 250px;
      }
      @media screen and (max-width: 380px) {
        height: 230px;
      }
      @media screen and (max-width: 330px) {
        height: 200px;
      }
    }
  }
}
