.hero {
  background: url("../../assets/images/header-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 850px;
  position: relative;

  @media screen and (max-width: 1050px) {
    background-size: cover;
    min-height: 60vw;
    min-width: 100%;
  }
  @media screen and (max-width: 770px) {
    background-size: contain;
    width: 100%;
  }
  @media screen and (max-width: 450px) {
    max-height: 60vw;
  }

  .hero-inner {
    padding-top: 3.3rem;
    padding-left: 10rem;

    @media screen and (max-width: 1050px) {
      padding-top: 2.5rem;
      padding-left: 2rem;
    }

    @media screen and (max-width: 770px) {
      padding-top: 2vw;
      padding-left: 1rem;
    }
    @media screen and (max-width: 450px) {
      padding-top: 1vw;
      padding-left: 0.5rem;
    }

    .hero-logo {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 1050px) {
      }

      .logo-img {
        width: 420;
        height: 240;

        @media screen and (max-width: 1050px) {
          width: 35vw;
          height: 180;
        }
        @media screen and (max-width: 770px) {
          width: 40vw;
          height: 180;
        }
        @media screen and (max-width: 450px) {
          width: 42vw;
          height: 30vw;
        }
      }

      .hero-connect {
        max-width: 15rem;
        position: relative;
        right: 4rem;
        top: -2rem;
        cursor: pointer;

        @media screen and (max-width: 1050px) {
          right: -1rem;
          top: -2.5rem;
        }
        @media screen and (max-width: 770px) {
          right: 0rem;
          top: -1.2rem;
        }
        @media screen and (max-width: 450px) {
          right: 0rem;
          top: -0.5rem;
        }
        @media screen and (max-width: 380px) {
        }

        p {
          position: absolute;
          top: 1.2rem;
          font-size: 1.2rem;
          right: 2.4rem;
          color: white;
          font-weight: bold;

          @media screen and (max-width: 1050px) {
            top: 1.7rem;
            font-size: 1rem;
            right: 2.8rem;
          }
          @media screen and (max-width: 770px) {
            top: 1.1rem;
            font-size: 0.8rem;
            right: 2.4rem;
          }
          @media screen and (max-width: 450px) {
            top: 4vw;
            font-size: 2.3vw;
            right: 6.2vw;
          }
          @media screen and (max-width: 380px) {
            top: 5vw;
          }
          @media screen and (max-width: 330px) {
            top: 4.5vw;
            right: 6.4 vw;
          }
        }
        .connect-img {
          width: 440;
          height: 240;

          @media screen and (max-width: 1050px) {
            width: 21vw;
            height: 8rem;
          }
          @media screen and (max-width: 770px) {
            width: 23vw;
            height: 6rem;
          }
          @media screen and (max-width: 450px) {
            width: 30vw;
            height: 5rem;
          }
          @media screen and (max-width: 330px) {
            width: 31vw;
            height: 4rem;
          }
        }
      }
    }

    .hero-connect:hover {
      opacity: 0.8;
    }
    .hero-connect:active {
      opacity: 0.6;
    }

    .hero-text {
      font-size: 48px;
      font-weight: bold;
      line-height: 140%;
      color: white;
      margin-top: 4rem;
      margin-left: 2rem;

      @media screen and (max-width: 1050px) {
        margin-top: 3rem;
        font-size: 36px;
      }

      @media screen and (max-width: 800px) {
        display: none;
      }
    }

    .banner-btn-div {
      margin-left: 2rem;
      margin-top: 10rem;

      @media screen and (max-width: 1050px) {
        margin-top: 8rem;
      }
      @media screen and (max-width: 770px) {
        visibility: hidden;
      }
    }
  }
}
