.welcome-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  margin: 0 auto;

  @media screen and (max-width: 1050px) {
    padding-top: 1.5rem;
  }
  @media screen and (max-width: 770px) {
    padding-top: 0;
  }
}

.desp-div {
  padding: 1rem;
}

#circle-img-div {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;

  @media screen and (min-width: 1300px) {
    overflow-x: hidden;
  }
  @media screen and (max-width: 450px) {
    flex-wrap: wrap;
    display: inline-flex;
  }
}

.get-ready-div {
  margin-top: 7rem;

  @media screen and (max-width: 1050px) {
    margin-top: 6rem;
  }

  @media screen and (max-width: 450px) {
    margin-top: 3rem;
  }

  .get-ready-desp {
    font-size: 64px;
    font-weight: 700;
    line-height: 89.6px;
    font-style: normal;
    text-align: center;
    margin: 0rem auto 1rem auto;
    background: linear-gradient(80deg, #01cee0, #00ffbd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen and (max-width: 1050px) {
      font-size: 4.5rem;
      line-height: 6rem;
    }
    @media screen and (max-width: 770px) {
      padding-top: 0rem;
      font-size: 3.8rem;
    }
    @media screen and (max-width: 450px) {
      padding-top: 0rem;
      font-size: 2rem;
      line-height: 2rem;
    }
  }
}

#shop-div {
  margin-top: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;

  @media screen and (max-width: 770px) {
    overflow: hidden;
  }
  @media screen and (max-width: 770px) {
    margin-top: 3rem;
  }

  #shop-div-1 {
    max-width: 43%;

    @media screen and (max-width: 1050px) {
      max-width: 50%;
    }
    @media screen and (max-width: 770px) {
      min-width: 70%;
      position: absolute;
      left: 1rem;
      top: 20;
    }
    @media screen and (max-width: 450px) {
      min-width: 90%;
    }
  }

  #shop-div-2 {
    max-width: 55%;

    .cookie-stand {
      width: 500px;
      height: 800px;

      @media screen and (max-width: 1050px) {
        width: 500px;
        height: 800px;
      }
      @media screen and (max-width: 770px) {
        margin-left: 20rem;
      }
      @media screen and (max-width: 450px) {
        margin-left: 14rem;
      }
    }
  }

  .stand-descp {
    text-align: left;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1.5rem auto;
    background: linear-gradient(70deg, #01aff6, #00ffbd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .desp-btn {
    margin-top: 3rem;
  }
}
