.nav-div {
  margin-top: 1rem;
  .nav-head {
    font-weight: 600;
    cursor: pointer;
    border-radius: 40px;
    display: inline-flex;
    position: relative;
    min-width: 9.5rem;
    padding: 0.3rem 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 380px) {
      min-width: 9rem;
    }
    @media screen and (max-width: 330px) {
      min-width: 7.5rem;
    }
  }

  .splash-btn:hover {
    opacity: 0.8;
  }

  .splash-btn:active {
    opacity: 0.8;
  }

  .nav-option-div {
    color: white;
    background: #000a13;
    border: 2px solid white;
    position: absolute;
    top: 4.25rem;
    left: 3;
    min-width: 9.5rem;
    padding: 1rem 0.5rem;
    z-index: 999;
    border-radius: 1rem;
    margin-left: 0.2rem;

    @media screen and (max-width: 380px) {
      min-width: 9rem;
    }

    @media screen and (max-width: 330px) {
      min-width: 7.5rem;
    }
  }
}
