.splash-btn {
  font-weight: 600;
  cursor: pointer;
  border-radius: 40px;
  min-height: 30px;
  display: inline-flex;
  padding: 0.1rem;
  position: relative;

  @media screen and (min-width: 2561px) {
  }

  @media screen and (max-width: 1050px) {
  }
  @media screen and (max-width: 770px) {
  }

  .splash-btn-inner {
    color: white;
    width: 100%;
    border-radius: 3rem;
    font-size: 1rem;
  }
}

.splash-btn:hover {
  opacity: 0.8;
}

.splash-btn:active {
  opacity: 0.8;
}
