.splash-btn {
  font-weight: 600;
  cursor: pointer;
  border-radius: 40px;
  display: inline-flex;
  padding: 0.1rem;
  position: relative;
  min-width: 100%;

  @media screen and (min-width: 2561px) {
  }

  @media screen and (max-width: 1050px) {
  }
  @media screen and (max-width: 770px) {
  }

  .splash-btn-inner {
    color: white;
    width: 100%;
    border-radius: 3rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;

    @media screen and (max-width: 1050px) {
      font-size: 0.9rem;
      padding: 0.5rem 0.7rem;
    }
    @media screen and (max-width: 770px) {
      font-size: 0.7rem;
      padding: 0.6rem 0.7rem;
    }
  }
}

.splash-btn:hover {
  opacity: 0.8;
}

.splash-btn:active {
  opacity: 0.8;
}
