@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Inter;
  background: #000000;
  box-sizing: border-box;
  overflow-x: hidden;
  background: -moz-radial-gradient(
    center,
    #000000 0%,
    #000a13 24%,
    #000000 100%
  );
  background: -webkit-radial-gradient(
    center,
    #000000 0%,
    #000a13 24%,
    #000000 100%
  );
  background: radial-gradient(
    ellipse at center,
    #000000 0%,
    #000a13 24%,
    #000000 100%
  );
}

@import "./pages/index";
@import "./pages/splash-modal";
@import "./components/header-text";
@import "./components/desp-text";
@import "./components/circle-img";
@import "./components/colour-btn";
@import "./components/colour-tag";
@import "./components/splash-btn";
@import "./components/image-slider";
@import "./components/square-img-frame";
@import "./components/team-card";
@import "./components/footer";
@import "./components/hero-section";
@import "./components/mobile-drop-down";
@import "./components/mobile-drop-down-option";
